* {
    margin: 0;
    padding: 0;
    border: none;
}

header,
footer {
    display: flex;
    align-items: center;
}

header {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    height: 100px;
}

footer {
    justify-content: center;
    height: 40px;
    background-color: #F2D8D7;
}

section {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 140px);
}

main,
aside {
    height: 100%;
}

aside {
    width: 250px;
    overflow-y:scroll;
    padding-left: 20px;
}

main {
    overflow: hidden;
    width: calc(100vw - 250px);
}


::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #e6e4e4;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #393737;
}

.siderbar_title {
    margin-top: 20px;
    font-size: 20px;
    color: #333333;
    font-weight: bold;
}

.siderbar_list {
    margin-top: 5px;
    font-size: 15px;
    color: #5b5b5b;
}

.siderbar_list_selected {
    color: #F2D8D7;
}

.siderbar_list:hover {
    color: #F2D8D7;
}

.siderbar_title_2 {
    margin-top: 20px;
    font-size: 12px;
    color: #a1a1a1;
}