.title {
    color: #585656;
    font-weight: normal;
    margin-left: 20px;
    position: relative;
}

.title:hover::before {
    content: "¶";
    color: #F2D8D7;
    position: absolute;
    left: 0;
    transform: translateX(-100%);
}

.text {
    color: #585656;
    font-weight: normal;
    margin-left: 20px;
}