.title {
    color: #585656;
    font-weight: normal;
    margin-left: 20px;
    margin-top: 20px;
    position: relative;
}

.title:hover::before {
    content: "¶";
    color: #F2D8D7;
    position: absolute;
    left: 0;
    transform: translateX(-100%);
}

.text {
    color: #585656;
    font-weight: normal;
    margin-left: 20px;
}

.container,
.code-area {
    position: relative;
    display: flex;
    align-items: center;
    margin: 10px 0;
    border: 2px solid #F2D8D7;
    border-radius: 8px;
    width: 95vw;
}

.container {
    min-height: 100px;

}

.code-area {
    background-color: #fafafa;
    transition: max-height 0.3s ease;
    min-height: 0;
    overflow: hidden;
    font-family: 'JetBrains Mono', monospace;
    font-size: 1em;
}

.arrow-container {
    position: absolute;
    right: 10px;
    bottom: 5px;
    cursor: pointer;
}

.place_holder {
    width: 20px;
}