.tag,
.variable-tag {
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 20px;
    width: 50px;
    height: 20px;
    background: #f4f4f5;
    font-size: 12px;
}

.tag {
    border: 1px solid #F2D8D7;
    color: #585656;
}

/* 在closeable后面加一个×,点击可以关闭 */
.closeable:after {
    color: #cfcaca;
    content: '×';
    margin-left: 5px;
    cursor: pointer;
}

.variable-tag {
    /* 虚线 */
    border: 1px dashed #F2D8D7;
    color: #a9a3a3;
}