<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="stylesheet" href="index.css">
  <link type="text/css" rel="stylesheet" href="../../../css/text.css">
  <link type="text/css" rel="stylesheet" href="../../basic/button/index.css">
  <title>Document</title>
</head>

<body>
  <h1 class="title">Dialog 对话框组件</h1>
  <div class="text">在保留当前页面状态的情况下，告知用户并承载相关操作。</div>
  <h2 class="title">基础用法</h2>
  <div class="container">
    <button class="button primary dialog-button">
      点我弹出对话框
      <div class="dialog-content">
        我是展示的内容哦
      </div>
    </button>
  </div>
  <div class="code-area">
    <pre><code>
      &lt;button class=&quot;button primary dialog-button&quot;&gt;
      点我弹出对话框
        &lt;div class=&quot;dialog-content&quot;&gt;
          我是展示的内容哦
        &lt;/div&gt;
      &lt;/button&gt;
    </code></pre>
  </div>
</body>

<script src="index.js"></script>
<script src="../../../js/code.js"></script>
<script src="../../../js/container.js"></script>

</html>