<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Button按钮</title>
    <link rel="stylesheet" type="text/css" href="index.css">
</head>

<br>
<section>
    <button class="button primary">Primary Button</button>
    <button class="button secondary">Secondary Button</button>
    <button class="button dashed">Dashed Button</button>
    <button class="button text">Text Button</button>
    <button class="button link">Link Button</button>
</section>
<br />
<section>
    <button class="button primary disabled">Primary Button</button>
    <button class="button secondary disabled">Secondary Button</button>
    <button class="button dashed disabled">Dashed Button</button>
    <button class="button text disabled">Text Button</button>
    <button class="button link disabled">Link Button</button>
</section>
</body>