<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../../../css/text.css">
	<link rel="stylesheet" type="text/css" href="index.css">
	<title>Button按钮</title>
</head>

<body>
	<h1 class="title">Button 按钮</h1>
	<div class="text">
		Taffy ui包括的按钮有主按钮、次按钮、虚线按钮、文本按钮、链接按钮、block按钮
	</div>
	<section class="container">
		<button class="button primary">Primary Button</button>
		<button class="button second">Second Button</button>
		<button class="button block">Block Button</button>
		<button class="button dashed">Dashed Button</button>
		<button class="button text-button">Text Button</button>
		<button class="button link">Link Button</button>
	</section>
	<div class="code-area">
		<pre><code>
			&lt;button class="button primary"&gt;Primary Button&lt;/button&gt;
			&lt;button class="button second"&gt;Second Button&lt;/button&gt;
			&lt;button class="button block"&gt;Block Button&lt;/button&gt;
			&lt;button class="button dashed"&gt;Dashed Button&lt;/button&gt;
			&lt;button class="button text-button"&gt;Text Button&lt;/button&gt;
			&lt;button class="button link"&gt;Link Button&lt;/button&gt;
		</code></pre>
	</div>
	<h2 class="title">Disabled 禁用状态</h2>
	<div class="text">
		Taffy ui还包括以上这些按钮的disabled状态
	</div>

	<section class="container">
		<button class="button primary disabled">Primary Button</button>
		<button class="button second disabled">Second Button</button>
		<button class="button block disabled">Block Button</button>
		<button class="button dashed disabled">Dashed Button</button>
		<button class="button text disabled">Text Button</button>
		<button class="button link disabled">Link Button</button>
	</section>
	<div class="code-area">
		<pre><code>
			&lt;button class="button primary disabled"&gt;Primary Button&lt;/button&gt;
			&lt;button class="button second disabled"&gt;Second Button&lt;/button&gt;
			&lt;button class="button block disabled"&gt;Block Button&lt;/button&gt;
			&lt;button class="button dashed disabled"&gt;Dashed Button&lt;/button&gt;
			&lt;button class="button text-button disabled"&gt;Text Button&lt;/button&gt;
			&lt;button class="button link disabled"&gt;Link Button&lt;/button&gt;
		</code></pre>
	</div>
</body>

<script src="../../../js/code.js"></script>
<script src="../../../js/container.js"></script>

</html>