<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../../css/text.css">
	<link rel="stylesheet" type="text/css" href="index.css">
	<title>Button按钮</title>
</head>

<body>
	<h1 class="title">Button 按钮</h1>
	<div class="text">
		Taffy ui包括的按钮有主按钮、次按钮、虚线按钮、文本按钮、链接按钮、block按钮
	</div>
	<div class="sections">
		<section>
			<button class="button primary">Primary Button</button>
			<button class="button second">Second Button</button>
			<button class="button block">Block Button</button>
			<button class="button dashed">Dashed Button</button>
			<button class="button text-button">Text Button</button>
			<button class="button link">Link Button</button>
		</section>
		<h2 class="title">Disabled 禁用状态</h2>
		<div class="text">
			Taffy ui还包括以上这些按钮的disabled状态
		</div>
		<section>
			<button class="button primary disabled">Primary Button</button>
			<button class="button second disabled">Second Button</button>
			<button class="button block disabled">Block Button</button>
			<button class="button dashed disabled">Dashed Button</button>
			<button class="button text disabled">Text Button</button>
			<button class="button link disabled">Link Button</button>
		</section>
	</div>
</body>