<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="index.css">
  <link rel="stylesheet" type="text/css" href="../../../css/text.css">
  <title>Document</title>
</head>

<body>
  <h1 class="title">ColorPicker 颜色选择器</h1>
  <div class="text">用于颜色的选择。</div>
  <h2 class="title">基本用法</h2>
  <div class="container">
    <input type="color" class="color-picker" id="color-picker">
  </div>

</body>

</html>