.container {
    display: flex;
    flex-direction: column;
    height: 20vh;
    width: calc(20% - 20px);
    border-radius: 8px;
    overflow: hidden;
    margin: 10px;
    height: 20vh;
}

.main-vertical {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 40px;
}

.main-horizontal {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-left: 40px;
}