<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="index.css">
  <link rel="stylesheet" type="text/css" href="../../../css/text.css">
  <title>color颜色</title>
</head>

<body>
  <h1 class="title">Color 色彩</h1>
  <div class="text">
    Taffy UI的主题颜色取自B站著名UP主永雏塔菲的头像，主色调为粉色，辅助色调为米黄色，绿色，红色，灰色，黑色，白色等。
  </div>

  <h2 class="title">
    主色
  </h2>
  <div class="text">
    Taffy UI的主题颜色为粉色
  </div>
  <div class="main-horizontal">
    <div class="color-container" style="background-color: #F2D8D7;">
      <div class="main-vertical">
        <div class="theme" style="color: #585656;">
          Primary Color
        </div>
        <div class="color-type" style="color: #a09c9c;">
          #F2D8D7
        </div>
      </div>
    </div>
  </div>

  <h2 class="title">
    其他颜色
  </h2>
  <div class="text">
    Taffy UI除了主题颜色，还有辅助颜色，分别为米黄色，绿色，红色，灰色，黑色，白色等。
  </div>
  <div class="main-horizontal">
    <div class="color-container" style="background-color: #EDCFB1;">
      <div class="main-vertical" style="color: #585656;">
        <div class=" theme">
          Secondary Color
        </div>
        <div class="color-type" style="color: #a09c9c;">
          #EDCFB1
        </div>
      </div>
    </div>

    <div class="color-container" style="background-color: #87d75e;">
      <div class="main-vertical" style="color: #585656;">
        <div class=" theme">
          Success Color
        </div>
        <div class="color-type" style="color: #a09c9c;">
          #87D75E
        </div>
      </div>
    </div>

    <div class="color-container" style="background-color: #e75f5f;">
      <div class="main-vertical" style="color: #e7e3e3;">
        <div class=" theme-vertical">
          Danger Color
        </div>
        <div class="color-type" style="color: #bebcbc;">
          #E75F5F
        </div>
      </div>
    </div>

    <div class="color-container" style="background-color: #585656;">
      <div class="main-vertical" style="color: #e7e3e3;">
        <div class=" theme-vertical">
          Primary Text
        </div>
        <div class="color-type" style="color: #bebcbc;">
          #585656
        </div>
      </div>
    </div>
  </div>
</body>

</html>