<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="index.css">
    <title>color颜色</title>
</head>

<body>
    <div class="container" style="background-color: #F2D8D7;">
        <div class="main">
            <div class="theme" style="color: #585656;">
                Primary Color
            </div>
            <div class="color-type" style="color: #a09c9c;">
                #F2D8D7
            </div>
        </div>
    </div>

    <div class="container" style="background-color: #EDCFB1;">
        <div class="main" style="color: #585656;">
            <div class=" theme">
                Secondary Color
            </div>
            <div class="color-type" style="color: #a09c9c;">
                #EDCFB1
            </div>
        </div>
    </div>

    <div class="container" style="background-color: #87d75e;">
        <div class="main" style="color: #585656;">
            <div class=" theme">
                Success Color
            </div>
            <div class="color-type" style="color: #a09c9c;">
                #87D75E
            </div>
        </div>
    </div>

    <div class="container" style="background-color: #e75f5f;">
        <div class="main" style="color: #e7e3e3;">
            <div class=" theme">
                Danger Color
            </div>
            <div class="color-type" style="color: #bebcbc;">
                #E75F5F
            </div>
        </div>
    </div>

    <div class="container" style="background-color: #585656;">
        <div class="main" style="color: #e7e3e3;">
            <div class=" theme">
                Primary Text
            </div>
            <div class="color-type" style="color: #bebcbc;">
                #585656
            </div>
        </div>
    </div>
</body>

</html>