<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="index.css">
  <link rel="stylesheet" type="text/css" href="../../../css/text.css">
  <title>radioGroup单选框</title>
</head>

<body>
  <!-- 表单组件，需包含input输入框组件以及视频中的全部组件 -->
  <h1 class="title">
    Radio 单选框
  </h1>
  <div class="text">
    在一组备选项中进行单选
  </div>

  <h2 class="title">基础用法</h2>
  <div class="text">
    由于选项默认可见，不宜过多，若选项过多，建议使用 Select 选择器。
  </div>
  <form class="container">
    <div class="place_holder"></div>
    <input type="radio" class="radio" id="option1" name="radioGroup" value="option1">
    <label for="option1">选项1</label><br>
    <input type="radio" class="radio" id="option2" name="radioGroup" value="option2">
    <label for="option2">选项2</label><br>
    <input type="radio" class="radio" id="option3" name="radioGroup" value="option3">
    <label for="option3">选项3</label>
  </form>
  <div class="code-area">
    <pre>
      <code>
        &lt;input type="radio" class="radio" id="option1" name="radioGroup" value="option1"&gt;
        &lt;label for="option1"&gt;选项1&lt;/label&gt;&lt;br&gt;
        &lt;input type="radio" class="radio" id="option2" name="radioGroup" value="option2"&gt;
        &lt;label for="option2"&gt;选项2&lt;/label&gt;&lt;br&gt;
        &lt;input type="radio" class="radio" id="option3" name="radioGroup" value="option3"&gt;
        &lt;label for="option3"&gt;选项3&lt;/label&gt;
      </code>
    </pre>
  </div>
  <h2 class="title">
    禁用状态
  </h2>
  <div class="text">
    单选框不可用的状态。
  </div>
  <form class="container">
    <div class="place_holder"></div>
    <input type="radio" class="radio" id="option4" name="radioGroup" value="option4" disabled>
    <label for="option4">选项1</label><br>
    <input type="radio" class="radio" id="option5" name="radioGroup" value="option5" disabled>
    <label for="option5">选项2</label><br>
    <input type="radio" class="radio" id="option6" name="radioGroup" value="option6" disabled>
    <label for="option6">选项3</label>
  </form>
  <div class="code-area">
    <pre>
      <code>
        &lt;input type="radio" class="radio" id="option4" name="radioGroup" value="option4" disabled&gt;
        &lt;label for="option4"&gt;选项1&lt;/label&gt;&lt;br&gt;
        &lt;input type="radio" class="radio" id="option5" name="radioGroup" value="option5" disabled&gt;
        &lt;label for="option5"&gt;选项2&lt;/label&gt;&lt;br&gt;
        &lt;input type="radio" class="radio" id="option6" name="radioGroup" value="option6" disabled&gt;
        &lt;label for="option6"&gt;选项3&lt;/label&gt;
      </code>
    </pre>
  </div>
</body>

<script src="../../../js/code.js"></script>
<script src="../../../js/container.js"></script>

</html>