<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="index.css">
  <link rel="stylesheet" type="text/css" href="../../../css/text.css">
  <title>Document</title>
</head>

<body>
  <h1 class="title">树形组件</h1>
  <div class="text">用于列表的打开和关闭</div>
  <h2 class="title">基本用法</h2>
  <div class="container">
    <ul class="tree">
      <li>
        <div class="tree-node">
          <div class="tree-collapsed">Node 1</div>
        </div>
        <ul class="tree-children">
          <li>Node 1.1</li>
          <li>Node 1.2</li>
          <div class="tree-node">
            <div class="tree-collapsed">Node 1.3</div>
          </div>
          <ul class="tree-children">
            <li>Node 1.3.1</li>
            <li>Node 1.3.2</li>
          </ul>
        </ul>
      </li>
      <li>
        <div class="tree-node">
          <div class="tree-collapsed">Node 2</div>
        </div>
        <ul class="tree-children">
          <li>Node 2.1</li>
          <li>Node 2.2</li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="code-area">
    <pre>
      <code>
        &lt;ul class="tree"&gt;
          &lt;li&gt;
            &lt;div class="tree-node"&gt;
              &lt;div class="tree-collapsed"&gt;Node 1&lt;/div&gt;
            &lt;/div&gt;
            &lt;ul class="tree-children"&gt;
              &lt;li&gt;Node 1.1&lt;/li&gt;
              &lt;li&gt;Node 1.2&lt;/li&gt;
              &lt;ul class="tree"&gt;
                &lt;li&gt;
                  &lt;div class="tree-node"&gt;
                    &lt;div class="tree-collapsed"&gt;Node 1&lt;/div&gt;
                  &lt;/div&gt;
                  &lt;ul class="tree-children"&gt;
                    &lt;li&gt;Node 1.3.1&lt;/li&gt;
                    &lt;li&gt;Node 1.3.2&lt;/li&gt;
                  &lt;/ul&gt;
                &lt;/li&gt;
              &lt;/ul&gt;
            &lt;/ul&gt;
          &lt;/li&gt;
          &lt;li&gt;
            &lt;div class="tree-node"&gt;
              &lt;div class="tree-collapsed"&gt;Node 2&lt;/div&gt;
            &lt;/div&gt;
            &lt;ul class="tree-children"&gt;
              &lt;li&gt;Node 2.1&lt;/li&gt;
              &lt;li&gt;Node 2.2&lt;/li&gt;
            &lt;/ul&gt;
          &lt;/li&gt;
        &lt;/ul&gt;
      </code>
    </pre>
  </div>
</body>

<script src="index.js"></script>
<script src="../../../js/code.js"></script>
<script src="../../../js/container.js"></script>

</html>