input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

input[type="checkbox"]+label::before {
    content: '';
    position: absolute;
    left: 10px;
    top: 3px;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    border: 1px solid rgb(198, 187, 187);
}

input[type="checkbox"]:checked+label::before {
    background-color: #F2D8D7;
}

input[type="checkbox"]:checked+label::after {
    content: '\2714';
    font-size: 13px;
    line-height: 15px;
    color: white;
    position: absolute;
    left: 13px;
    top: 4px;
}


input[type="checkbox"]:disabled+label::before {
    background-color: lightgray;
    cursor: not-allowed;
}
