<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="index.css">
  <link rel="stylesheet" type="text/css" href="../../../css/text.css">
  <title>Document</title>
</head>

<body>
  <h1 class="title">多选框</h1>
  <div class="text">一组备选项中进行多选</div>

  <form class="container">
    <input type="checkbox" class="checkbox" id="checkboxA" name="checkboxA" value="复选框 A">
    <label for="checkboxA">复选框 A</label>
    <input type="checkbox" class="checkbox" id="checkboxB" name="checkboxB" value="复选框 B">
    <label for="checkboxB">复选框 B</label>
    <input type="checkbox" class="checkbox" id="checkboxC" name="checkboxC" value="复选框 C">
    <label for="checkboxC">复选框 C</label>
    <input type="checkbox" class="checkbox" id="checkboxDisabled" name="checkboxDisabled" value="禁用" disabled>
    <label for="checkboxDisabled">禁用</label>
    <input type="checkbox" class="checkbox" id="checkboxDisabledChecked" name="checkboxDisabledChecked" value="选中且禁用"
      disabled checked>
    <label for="checkboxDisabledChecked">选中且禁用</label>
  </form>
  <div class="code-area">
    <pre>
      <code>
        &lt;input type="checkbox" class="checkbox" id="checkboxA" name="checkboxA" value="复选框 A"&gt;
        &lt;label for="checkboxA"&gt;复选框 A&lt;/label&gt;
        &lt;input type="checkbox" class="checkbox" id="checkboxB" name="checkboxB" value="复选框 B"&gt;
        &lt;label for="checkboxB"&gt;复选框 B&lt;/label&gt;
        &lt;input type="checkbox" class="checkbox" id="checkboxC" name="checkboxC" value="复选框 C"&gt;
        &lt;label for="checkboxC"&gt;复选框 C&lt;/label&gt;
        &lt;input type="checkbox" class="checkbox" id="checkboxDisabled" name="checkboxDisabled" value="禁用" disabled&gt;
        &lt;label for="checkboxDisabled"&gt;禁用&lt;/label&gt;
        &lt;input type="checkbox" class="checkbox" id="checkboxDisabledChecked" name="checkboxDisabledChecked" value="选中且禁用" disabled checked&gt;
        &lt;label for="checkboxDisabledChecked"&gt;选中且禁用&lt;/label&gt;
      </code>
    </pre>
  </div>

</body>

<script src="../../../js/code.js"></script>
<script src="../../../js/container.js"></script>

</html>