<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="index.css">
  <link rel="stylesheet" type="text/css" href="../../../css/text.css">
  <title>Document</title>
</head>

<body>
  <h1 class="title">Switch 开关</h1>
  <div class="text">用于在打开和关闭之间切换。</div>
  <h2 class="title">基本用法</h2>
  <div class="container">
    <!-- 占位 -->
    <div></div>
    <input type="checkbox" class="switch" id="switch">
    <label for="switch" class="switch-label"></label>
  </div>
</body>


</html>