input[type="number"] {
    width: 100px;
    height: 30px;
    border-radius: 6px;
    border: 1px solid rgb(198, 187, 187);
}

input[type="number"]:focus {
    outline-color: #F2D8D7;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    opacity: 1;
}