/* 普通文本 */
.input {
    background-color: #ffffff;
    border: 1px solid rgb(198, 187, 187);
    color: #5b5b5b;
    padding: 10px;
    border-radius: 5px;
}

.input::placeholder {
    color: #c0c4cc;
}

.input:focus {
    outline-color: #F2D8D7;
}

.input:disabled {
    background-color: #f2f2f2;
    color: #cccccc;
    cursor: not-allowed;
}

.input:disabled::placeholder {
    color: #cccccc;
}
