<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="index.css">
  <link rel="stylesheet" type="text/css" href="../../../css/text.css">
  <title>Document</title>
</head>

<body>
  <h1 class="title">Input 输入框</h1>
  <div class="text">通过鼠标或键盘输入内容，是最基础的表单域的包装。</div>
  <h2 class="title">基本用法</h2>
  <div class="container">
    <div class="place_holder"></div>
    <input type="text" placeholder="请输入内容" class="input">
  </div>
  <div class="code-area">
    <pre><code>
      &lt;input type="text" placeholder="请输入内容" class="input"&gt;
    </code></pre>
  </div>

  <h2 class="title">禁用状态</h2>
  <div class="container">
    <div class="place_holder"></div>
    <input type="text" placeholder="请输入内容" class="input" disabled>
  </div>
  <div class="code-area">
    <pre><code>
      &lt;input type="text" placeholder="请输入内容" class="input" disabled&gt;
    </code></pre>
  </div>

  <h2 class="title">密码框</h2>
  <div class="container">
    <div class="place_holder"></div>
    <input type="password" placeholder="请输入密码" class="input password">
  </div>
  <div class="code-area">
    <pre><code>
      &lt;input type="password" placeholder="请输入密码" class="input"&gt;
    </code></pre>
  </div>
</body>

<script src="../../../js/code.js"></script>
<script src="../../../js/container.js"></script>

</html>