<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../../../css/text.css">
  <link rel="stylesheet" type="text/css" href="index.css">
  <title>Pagination 分页</title>
</head>

<body>
  <h1 class="title">分页组件</h1>
  <div class="text">用于展示分页数据</div>
  <h2 class="title">基本用法</h2>
  <div class="container">
    <ul class="pagination" nums="1000"></ul>
  </div>
  <div class="code-area">
    <pre>
			<code>
        &lt;ul class="pagination" nums="1000"&gt;&lt;/ul&gt;
			</code>
		</pre>
  </div>

  <h2 class="title">可变页面大小</h2>
  <div class="container">
    <ul class="pagination variable" nums="1000"></ul>
  </div>
  <div class="code-area">
    <pre>
			<code>
		&lt;ul class="pagination-variable" nums="1000"&gt;&lt;/ul&gt;
			</code>
		</pre>
  </div>


</body>

<script src="pagination.js"></script>
<script src="../../../js/code.js"></script>
<script src="../../../js/container.js"></script>

</html>