<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../../../css/text.css">
  <link rel="stylesheet" type="text/css" href="index.css">
  <link rel="stylesheet" type="text/css" href="../../basic/button/index.css">
  <title>Fildloader 文件上传</title>
</head>

<body>
  <h1 class="title">Fildloader 文件上传</h1>
  <div class="text">通过点击上传文件</div>
  <h2 class="title">基本用法</h2>
  <div class="container">
    <div class="place_holder"></div>
    <div class="fileloader">
      <button class="primary button file">click to upload</button>
    </div>
  </div>
  <div class="code-area">
    <pre>
  <code>
  &lt;div class="container">
    &lt;div class="place_holder">&lt;/div>
    &lt;div class="fileloader
      &lt;button class="primary button file">click to upload&lt;/button>
    &lt;/div>
  &lt;/div>
  </code>
</pre>
  </div>

</body>

<script src="index.js"></script>
<script src="../../../js/code.js"></script>
<script src="../../../js/container.js"></script>

</html>